body{
    background-color:rgb(3, 3, 27);
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.logo{
    color:yellow;
}
.menu{
  color: orange;
  display: flex;
  justify-content: space-around;
  width: 200px;


}
.navigation{
    display: flex;
    justify-content: space-between;
    color: white;

}
a{
    text-decoration: none;
}
.abcd{
    display: flex;
    flex-flow: row wrap; 
    
}
p{
    margin-left: auto;

}

